#projects{
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
     overflow: hidden;
}

/* .slider{
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
   
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    padding: 20px;
    gap: 30px;
    
} */
/* .slider::-webkit-scrollbar { display: none; }  */
.slider {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  gap: 30px;
  animation: scroll 5s linear infinite;
}

/* Smooth infinite scroll */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Pause the animation when hovering over ANY card */
.card:hover ~ .slider-track,
.slider-track:hover {
  animation-play-state: paused;
}




#proj-heading{
    background: linear-gradient(to right,rgb(229, 139, 83)
    , white);
  background-clip: text;
  color: transparent;
  font-size: 3vmax;
  text-align: center;

}

