#about{
    width: 100%;
    height: 100%;
    display: flex;
     overflow: hidden;
}
.left-about{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.right-about{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.circle-line{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circle{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: aqua;
    box-shadow: 2px 2px 20px aqua;

}

.line{
    height: 120px;
    width: 2px;
    background-color: aqua;
}

.about-details{
    display: flex;
    gap: 40px;
    flex-direction: column;

}

.about-details ul{
    list-style: none;
}

.about-details h1{
    background: linear-gradient(to right,rgb(222, 65, 65),white);
    background-clip: text;
    color: transparent;
}

.about-details li{
    color: white;
}

.about-details span{
    color: rgb(110, 223, 223);
}


@media (max-width:750px) {

    #about{
        flex-direction: column;
    }

    .left-about{
        width: 100%;
        padding: 10%;
    }
    .right-about{
        width: 100%;
    }
    
}


