.card {
  width: 90%;
  max-width: 380px;
  height: 175px;
  background-color: rgb(10, 8, 8);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 10px black, 2px 2px 20px black;
  border-radius: 12px;
  transition: all 0.5s;
  cursor: pointer;
  flex-shrink: 0;
  padding: 10px;
}

.card:hover {
  box-shadow: 2px 2px 10px rgb(80, 213, 213), 2px 2px 10px rgb(41, 212, 212);
}

.hovercard img {
  height: 80%;
  filter: drop-shadow(2px 2px 10px black);
}

.hovercard {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(71, 240, 240), rgb(12, 12, 12));
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(7px);
}

.card:hover .hovercard {
  transform: translateY(0%);
}

.card h2 {
  background: linear-gradient(to right, aqua, white);
  background-clip: text;
  color: transparent;
}
