#home{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    
}

.left-home{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-home{
    width: 50%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-home img{
    width: 50%;
    filter: drop-shadow(2px 2px 10px rgb(165, 235, 235));
}

.home-details{
    font-size: 2vmax;
}

.line1{
    font-size: 1.5em;
    color: white;
}

.line2{
    font-size: 2.5em;
    background:linear-gradient(to right,aqua,white);
    background-clip: text;
    color:transparent;
}

.line3{
    font-size: 2em;
}

#btn{
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(101, 222, 222);
    margin-top: 20px;
    border: 2px solid rgb(101, 222, 222);
    color: black;
    cursor: pointer;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s;


}

#btn:hover{
    background-color: transparent;
    color: rgb(101, 222, 222);
}

@media (max-width:750px) {
    #home{
        flex-direction: column-reverse;
    }
    .home-details{
        padding: 10%;
    }
    .left-home{
        width: 100%;
        height: 50vh;
    }
    .right-home{
        width: 100%;
        height: 50vh;
    }
    
}

.typewriter-cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s step-end infinite;
  /* optional: font-weight: bold; */
}

@keyframes blink {
  50% { opacity: 0; }
}
.typewriter-text {
  background: linear-gradient(to right, rgb(222, 65, 65), white);
  -webkit-background-clip: text;   /* Safari/Chrome */
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
