nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    
    top: 0;
    z-index: 20;
    background-color: rgb(36, 39, 39);
}
nav ul a{
    cursor: pointer;
}
nav ul a:hover{
    
    color: aqua ;
    
    border-bottom: 2px solid white;

}
.active{
    color: aqua ;
    
    border-bottom: 2px solid white;
}


nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    list-style: none;
    font-size: 18px;
    font-weight: 450;
    
}

nav h2{
    font-size: 26px;
    background:linear-gradient(to right,rgb(107, 204, 213),white
    );
    background-clip: text;
    color: transparent;
}

.hambur{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    display: none;
    outline: none;
    border: none;
}

.ham{
    width: 40px;
    height: 2px;
    background-color: rgb(188, 184, 175);
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
}


.mobile{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    background-color: rgb(36, 39, 39);;
    /* backdrop-filter: blur(7px); */
    right: 0;
    transform: translate(100%);
    flex-direction: column;
    transition: all 0.5s;
    gap: 40px;
}

.activemobile{
    transform: translateX(0%);
}

.activeham .ham:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    top: 8px;

}

.activeham .ham:nth-child(2){
    opacity: 0;
}

.activeham .ham:nth-child(3){
    transform: rotate(-45deg);
    position:relative;
    top:-12px;
}

@media (max-width:750px) {
    .desktop{
        display: none;
    }
    .hambur{
        display: flex;
    }
    
}
